.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: black;
}
.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-page h1 {
    font-size: 15vh;
    margin-bottom: 0;
}
.home-page h2 {
    font-size: 10vh;
    margin-top: 0;
}
.skeleton {
    background-image: url("https://i.imgur.com/s90IOiT.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 5vh;
    right: 0;
    height: 75vh;
    width: 30vw;
}


@media only screen and (max-width: 480px) {
    .home-page h1 {
        font-size: 11vh;
    }
    .home-page h2 {
        font-size: 6vh;
    }
}