@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.App {
  text-align: center;
  font-family: 'Space Mono', monospace;
}
h1 {
  margin-left: .5vw;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Space Mono', monospace;
  position: absolute;
  left: 1vw;
  height: 100vh; 
}
nav a {
  padding-bottom: 3vh;
}
#about, #projects {
  height: 100vh;
  display: flex;
}
#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  background-size: cover;
}
#contact h1 {
  margin-top: 8vh;
}
#contact .contact-links-container {
  align-self: center;
  justify-content: space-evenly;
  font-size: 15vh;
  height: 20vh;
  width: 60vw;
  margin-top: 25vh;

}
.projects-container {
  height: 90vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 3vw;
  margin-top: 1vh;
}
.project-card {
  border: solid;
  height: 47vh;
  width: 37vw;
  font-family: 'Space Mono', monospace;
  margin: .5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card h2, .project-card p {
  background-color: white;
  width: 75%;
}
.contact-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 10vw;
  padding-bottom: 2vw;
  font-size: 5vh;
  height: 1vw;
  align-self: flex-end;
  margin-bottom: 2vh;
}
.contact-links-container a:hover {
  color: pink;
}
#about {
  justify-content: center;
  align-items: center;
}
#about h1 {
  position: absolute;
  align-self: flex-start;
  left: .5vw;

}
#war-card {
  background: url("https://i.imgur.com/F1EaL3c.jpg");
  background-size: cover;
}
#dbtrip-card {
  background: url("https://i.imgur.com/A5emwZ3.jpg");
  background-size: cover;
}
#incantations-card {
  background: url("https://i.imgur.com/3Kkip3g.jpg");
  background-size: cover;
}
#elevation-card {
  background: url("https://i.imgur.com/GK20CXe.jpg");
  background-size: cover;
  background-position: center;
}
.bio-container {
  width: 80vw;
  margin-left: 15vw;
}


