@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.App {
  text-align: center;
  font-family: 'Space Mono', monospace;
}
#initials {
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 2vh;
  height: 7vh;
}
nav {
  font-family: 'Space Mono', monospace;
  position: fixed;
  right: 0;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
nav button {
  background-color: black;
  border-color: black;
  font-family: 'Space Mono', monospace;
  font-size: 4vh;
  appearance: none;
  -webkit-appearance: none;
}
nav a {
  color: white;
}
nav a:hover {
  color: pink;
}
.nav-container {
  position: fixed;
  top: 0;
  height: 9vh;
  width: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mobile-nav {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10vh;
  background-color: black;
  color: white;
}
#mobile-nav a {
  color: white;
}
#mobile-nav a:hover {
  color: pink;
}
#mobile-nav button {
  background-color: black;
  font-family: 'Space Mono', monospace;
  font-size: 8vh;
  appearance: none;
  -webkit-appearance: none;
  border-color: black;
}
#nav-btn {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  border-color: black;
}
.page {
  height: 93vh;
  width: 100vw;
  display: flex;
  padding-top: 5vh;
}
#home {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13vh;
}
#typewriter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, .0);
}
#my-name {
  font-size: 13vh;
  color: black;
}
#my-title {
  font-size: 5vh;
  color: black;
}
.jump-btn {
  transform: rotate(90deg);
}
#home .jump-btn {
  z-index: 1;
  position: absolute;
  margin-top: 77vh;
}
#about {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#about h1 {
  margin-bottom: 0;
}
.bio-container {
  width: 80vw;
  margin-top: 0;
  font-size: 15px;
}
.skillslist-container {
  width: 100vw;
  height: 36vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2vh;
}
.skills-section {
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 9vh;
}
.skills-section p {
  margin: 1px;
}
.skills-title {
  font-weight: bold;
  text-decoration: underline;
}
#projects {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects-h1 {
  margin-top: 30vh;
  margin-bottom: 1vh;
}
.projects-container {
  height: 90vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
  margin-bottom: 10vh;
}
.project-card {
  border: solid;
  height: 40vh;
  width: 37vw;
  font-family: 'Space Mono', monospace;
  margin: .5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-card h2, .project-card p {
  background-color: white;
  width: 30vw;
}
.project-btns {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  cursor: pointer;
}
.project-btn {
  height: 5vh;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  border-radius: 15%;
  background-color:white;
}
.project-btn:hover {
  background-color: rgb(254, 175, 244);
  cursor: pointer;
}
#war-card {
  background: url("https://i.imgur.com/F1EaL3c.jpg");
  background-size: cover;
  background-position: center;
}
#dbtrip-card {
  background: url("https://i.imgur.com/A5emwZ3.jpg");
  background-size: cover;
  background-position: center;

}
#incantations-card {
  background: url("https://i.imgur.com/3Kkip3g.jpg");
  background-size: cover;
  background-position: center;
}
#elevation-card {
  background: url("https://i.imgur.com/GK20CXe.jpg");
  background-size: cover;
  background-position: center;
}
#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  background-size: cover;
  margin-top: 20vh;
}
#contact h1 {
  margin-top: 3vh;
  font-size: 4.5vh;
}
.contact-links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100vw;
  padding-bottom: 2vw;
  font-size: 10vh;
  height: 8vw;
  align-self: flex-end;
  margin-bottom: 2vh;
}
.contact-links-container p {
  font-size: 2.5vh;
  margin-top: 0;
}
.contact-links-container a:hover {
  color: pink;
}

@media (max-width: 1050px) {
  #about {
    height: 120vh;
    margin-bottom: 5vh;
  }
  .bio-container {
    font-size: 3vh;
  }
  #projects {
    height: 400vh;
  }
  .skills-section {
    font-size: 3vh;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400vh;
  }
  .project-card {
    height: 200vh;
    width: 100vw;
  }
  .project-card h2, .project-card p {
    width: 50vw;
  }
  .project-btn {
    height: 7vh;
  }
  #contact {
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
  }
  #contact h1 {
    font-size: 4.5vh;
    margin-top: 25vh;
  }
  .contact-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100vw;
    padding-bottom: 2vw;
    font-size: 10vh;
    height: 8vw;
    margin-bottom: 30vh;
  }
}
@media (max-width: 950px) {
  #main-nav {
    display: none;
  }
  #nav-btn {
    display: inline-block;
    position: fixed;
    right: 1vw;
    background-color: black;
    height: 7vh;
    color: white;
    font-size: 6vh;
  }
  #nav-btn:hover {
    cursor: pointer;
    color: pink;
  }
}

@media (max-width: 480px) {
  #scroll-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #home {
    height: 80vh;
  }
  #my-name {
    font-size: 10vh;
  }
  .page {
    width: 100vw;
  }
  #nav-btn {
    height: 4vh;
    font-size: 3vh;
    right: 2vw;
  }
  #mobile-nav button {
    width: 100vw;
    height: 15vh;
  }
  #initials {
    font-size: 6vh;
  }
  #about {
    height: 100vh;
    margin-top: 10vh;
  }
  .bio-container {
    font-size: 1.8vh;
  }
  .skillslist-container {
    height: 50vh;
  }
  .skills-section {
    color: white;
    background-color: black;
    padding-top: 4vw;
    padding-bottom: 1vw;
    font-size: 1.8vh;
    width: 30vw;
    height: 27vh;
    margin-bottom: 0;
    margin-top: 0;
  }
  #projects {
    padding-top: 0;
    margin-top: 0;
    height: 360vh;
  }
  #projects h1 {
    font-size: 3.8vh;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
  }
  .projects-container {
    width: 100vw;
    margin-bottom: 0;
  }
  .project-card {
    height: 93vh;
    margin-top: 0;
  }
  .project-card p, .project-card h2 {
    width: 70vw;
    background-color:rgba(255, 255, 255, .85);
    margin-bottom: 7vh;
    padding: 2vh;
  }
  .project-card button {
    height: 6vh;
    width: 25vw;
  }
  #contact {
    height: 60vh;
    margin-top: 10vh;
  }
  #contact h1 {
    margin-top: 24vh;
    font-size: 3.5vh;
  }
  .contact-links-container {
    height: 35vh;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 0;
    align-items: center;
  }
  .contact-link {
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 20vw;
    font-size: 4vh;
  }
  .contact-link p {
    font-size: .9vh;
  }

}



